<div>
  <div>
    <h1>
      All Open-Play Chess Events
    </h1>
  </div>
</div>

<hr>
  <div>
    <h3>
      <a href="/add_event"> Add a new event! </a>
    </h3>
  </div>


<div>
  <div>
    <table border="1">
      <tr>

        <th>
          Location
        </th>

        <th>
          Date
        </th>

        <th>
          Description
        </th>

        <th>
          Attendees count
        </th>

        <th>
          Posted
        </th>

        <th>
          Last Updated
        </th>

        <th>
          More Info
        </th>

        <th>
          Status
        </th>
      </tr>

      <% @list_of_events.each do |an_event| %>

      <tr>

        <td>
          <%= an_event.location %>
        </td>

        <td>
          <%= an_event.date %>
        </td>

        <td>
          <%= an_event.description %>
        </td>

        <td>
          <% if Attendee.where(event: an_event.id).count != nil %>
            <%= Attendee.where(event: an_event.id).count %>
          <% else %>
            0
          <% end %>

        </td>

        <td>
          <%= time_ago_in_words(an_event.created_at) %> ago
        </td>
        <td>
          <%= time_ago_in_words(an_event.updated_at) %> ago
        </td>

        <td>
          <a href="/events/<%= an_event.id %>">
            Show details
          </a>
        </td>

        <td>
          <% if current_user == nil %>
            <a href="/users/sign_up"> Sign up to join! </a>
          <% elsif Event.where(id: an_event.id, people: current_user.id).first != nil %>
            Hosting
          <% elsif Attendee.where(user: current_user.id, event: an_event.id).first == nil%>
            <a href="/insert_attendee/<%= an_event.id %>/<%= current_user.id%>">
              Join event!
            </a>
          <% else %>
            Attending
          <% end %>
        </td>
      </tr>
      <% end %>
    </table>
  </div>
</div>

<hr>
