<div>
  <div>
    <h1>
      All Open-Play Chess Events
    </h1>
  </div>
</div>

<hr>
  <div>
    <h3>
      <a href="/add_event"> Add a new event! </a>
    </h3>
  </div>


<div>
  <div>
    <table border="1">
      <tr>

        <th>
          Location
        </th>

        <th>
          Date
        </th>

        <th>
          Description
        </th>

        <th>
          People
        </th>

        <th>
          Attendees count
        </th>

        <th>
          Posted
        </th>

        <th>
          Last Updated
        </th>

        <th>
        </th>
      </tr>

      <% @list_of_events.each do |an_event| %>
      <tr>

        <td>
          <%= an_event.location %>
        </td>

        <td>
          <%= an_event.date %>
        </td>

        <td>
          <%= an_event.description %>
        </td>

        <td>
          <%= an_event.people %>
        </td>

        <td>
          <% if an_event.people != nil %>
            <%= an_event.people.count %>
          <% else %>
            <%= 0 %>
          <% end %>
        </td>

        <td>
          <%= time_ago_in_words(an_event.created_at) %> ago
        </td>
        <td>
          <%= time_ago_in_words(an_event.updated_at) %> ago
        </td>

        <td>
          <a href="/events/<%= an_event.id %>">
            Show details
          </a>
        </td>
      </tr>
      <% end %>
    </table>
  </div>
</div>

<hr>
