<div>
  <div>
    <h1>
      List of all events
    </h1>
  </div>
</div>

<hr>

<div>
  <div>
    <h2>
      Add a new event
    </h2>

    <form action="/insert_event" method="post">
      <div>
        <label for="location_box">
          Location
        </label>

        <input type="text" id="location_box" name="query_location">
      </div>

      <div>
        <label for="date_box">
          Date
        </label>

        <input type="datetime-local" id="date_box" name="query_date">
      </div>

      <div>
        <label for="description_box">
          Description
        </label>

        <textarea id="description_box" name="query_description" rows="3"></textarea>
      </div>

      <div>
        <label for="people_box">
          People
        </label>

        <input type="text" id="people_box" name="query_people">
      </div>

      <div>
        <label for="attendees_count_box">
          Attendees count
        </label>

        <input type="text" id="attendees_count_box" name="query_attendees_count">
      </div>

      <button>
        Create event
      </button>
    </form>
  </div>
</div>

<hr>
<div>
  <div>
    <table border="1">
      <tr>
        <th>
          ID
        </th>

        <th>
          Location
        </th>

        <th>
          Date
        </th>

        <th>
          Description
        </th>

        <th>
          People
        </th>

        <th>
          Attendees count
        </th>

        <th>
          Created at
        </th>

        <th>
          Updated at
        </th>

        <th>
        </th>
      </tr>

      <% @list_of_events.each do |an_event| %>
      <tr>
        <td>
          <%= an_event.id %>
        </td>

        <td>
          <%= an_event.location %>
        </td>

        <td>
          <%= an_event.date %>
        </td>

        <td>
          <%= an_event.description %>
        </td>

        <td>
          <%= an_event.people %>
        </td>

        <td>
          <%= an_event.attendees_count %>
        </td>

        <td>
          <%= time_ago_in_words(an_event.created_at) %> ago
        </td>
        <td>
          <%= time_ago_in_words(an_event.updated_at) %> ago
        </td>

        <td>
          <a href="/events/<%= an_event.id %>">
            Show details
          </a>
        </td>
      </tr>
      <% end %>
    </table>
  </div>
</div>

<hr>
