<div>
  <div>
    <h1>
      <%= @the_event.location %> Event Details
    </h1>

    <div>
      <div class="m-3">
        <a href="/events" class="btn btn-primary">
          Go back
        </a>
      </div>

    <dl>
      <dt>
        Location
      </dt>
      <dd>
        <%= @the_event.location %>
      </dd>

      <dt>
        Date
      </dt>
      <dd>
        <%= @the_event.date %>
      </dd>

      <dt>
        Description
      </dt>
      <dd>
        <%= @the_event.description %>
      </dd>

      <dt>
        People
      </dt>
      <dd>
        <%= @the_event.people %>
      </dd>

      <dt>
        Attendees count
      </dt>
      <dd>
        <%= @attendees_count %>
      </dd>

      <dt>
        Created at
      </dt>
      <dd>
        <%= time_ago_in_words(@the_event.created_at) %> ago
      </dd>

      <dt>
        Updated at
      </dt>
      <dd>
        <%= time_ago_in_words(@the_event.updated_at) %> ago
      </dd>
    </dl>
  </div>
</div>

<h2> Attendees </h2>
<div>
  <div>
    <table border="1" class="table table-bordered">
      <tr>

        <th>
          Name
        </th>

        <th>
          Rating
        </th>

        <th>
          Bio
        </th>

       
      </tr>

      <% list_of_participants = Attendee.where(event: @the_event.id)%>
      <% list_of_participants.each do |participant| %>
      <% member = User.where(id: participant.user).at(0) %>

      <tr>

        <td>
          <% if member != nil %>
            <%= member.name %>
          <% end %>
        </td>

        <td>
          <% if member != nil %>
            <%= member.rating %>
          <% end %>
        </td>

        <td>
          <% if member != nil %>
            <%= member.bio %>
          <% end %>
        </td>
      </tr>
    <% end %>
    </table>
  </div>
</div>
<hr>
