<div>
  <div>
    <h1>
      Event #<%= @the_event.id %> details
    </h1>

    <div>
      <div>
        <a href="/events">
          Go back
        </a>
      </div>

    <dl>
      <dt>
        Location
      </dt>
      <dd>
        <%= @the_event.location %>
      </dd>

      <dt>
        Date
      </dt>
      <dd>
        <%= @the_event.date %>
      </dd>

      <dt>
        Description
      </dt>
      <dd>
        <%= @the_event.description %>
      </dd>

      <dt>
        People
      </dt>
      <dd>
        <%= @the_event.people %>
      </dd>

      <dt>
        Attendees count
      </dt>
      <dd>
        <%= @attendees_count %>
      </dd>

      <dt>
        Created at
      </dt>
      <dd>
        <%= time_ago_in_words(@the_event.created_at) %> ago
      </dd>

      <dt>
        Updated at
      </dt>
      <dd>
        <%= time_ago_in_words(@the_event.updated_at) %> ago
      </dd>
    </dl>
  </div>
</div>

<hr>
